.card {
  position: absolute;
  z-index: 3;
  bottom: 0;
  padding: 32px;
  margin: 32px;
  width: calc(100% - 128px);
  background-color: #eaf7e8;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}

.progress-section {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
}

.progress-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.progress-title {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}

.progress-bar-container {
  width: 100px;
  height: 8px;
  border-width: 1px;
  border-color: red;
  flex-direction: row;
}

.progress-bar {
  width: 20px;
  height: 8px;
  background-color: #d0ecd1;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}


.content-section {
  text-align: center;
  width: 100%;
  position: absolute;
  margin-left: 50px;
  margin-top: 10px;
}

.details {
  list-style: none;
  padding: 10px;
  text-align: left;
  font-size: 16px;
  color: #555;
  
}

.details li {
  margin-bottom: 5px;
}

.return-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 15px 35px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute;
  margin-left: 0px;
  margin-top: -20px
}

.return-button:hover {
  background-color: #45a045;
}

.ride-button {
  background-color: #0BB94F;
  position: absolute;
  left: 32px;
  bottom: 32px;
  z-index: 3;
  font-size: 20px;
  color: white;
  width: calc(100% - 64px);
  border-radius: 30px;
  height: 80px;
  border: none;
}

.ride-button:hover {
  background-color: #EAFFF2;
  color: black;
}

.video-mask {
  z-index: 1;
  position: absolute;
  right: 0;
  background-color: white;
}

video {
  z-index: 0;
  border-radius: 24px;
}